<div class="chatContainer">
    <div style="text-align:center">
        <h1>Welcome to {{ title }}!</h1>
        <h2>
            {{ subtitle }}
        </h2>
    </div>
    <div class="chatHistory">
        <div *ngFor="let chatmessage of chatHistory">
            <ng-container *ngIf="chatmessage.type === 'bot'">
                {{ chatmessage.user.name }} {{ chatmessage.message }}
            </ng-container>
            <ng-container *ngIf="chatmessage.type === 'user'">
                {{ chatmessage.user.name }} zegt: {{ chatmessage.message }}
            </ng-container>
        </div>
    </div>
    <div class="inputField">
        <input type="text" #message [(ngModel)]="chatmessage" />
        <button type="submit" (click)="sendMessage(message.value)">Send</button>
    </div>
</div>
<button class="exitButton" type="submit" (click)="exitChatRoom(user)">
  Exit Chatroom
</button>