.chatbox {
    border: solid red 2px;
    width: 100%;
    display: grid;
}

.connectedUsers {
    grid-column-start: 5;
    grid-column-end: 6;
    padding: 1em;
    border: 2px solid blue;
}

.chatroom {
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 1em;
    border: 2px solid green;
    height: 500px;
}